celery==5.1.2
fastapi==0.68.1
flower==1.0.0
pydantic==1.8.2
PyMySQL==1.0.2
python-dotenv==0.19.0
python-jose==3.3.0
python-multipart==0.0.5
redis==3.5.3
requests==2.26.0
requests-async==0.6.2
SQLAlchemy==1.4.23
starlette==0.14.2
typing-extensions==3.10.0.2
uvicorn==0.15.0

